:root {
  --mainBlueDark: rgb(29, 73, 90);
  --mainBlueLight: rgb(165, 219, 245);
  --shadowLight: rgb(107, 135, 147);
  --firstGrayLight: rgb(134, 142, 146);
  --secGrayLight: rgb(134, 142, 146);
  --thirdGrayLight: rgb(103, 107, 111);
  --fourthGrayLight: rgb(180, 192, 197);
  --fifthGrayLight: rgb(94, 97, 101);
  --firstGreenLight: rgb(203, 241, 205);
  --secGreenLight: rgb(211, 250, 213);
  --firstPinkLight: rgb(247, 207, 230);
  --secPinkLight: rgb(254, 171, 218);
  --firstBlueLight: rgb(160, 211, 251);
  --secBlueLight: rgb(145, 192, 228);
  --thirdBlueLight: rgb(148, 207, 216);
  --fourthBlueLight: rgb(126, 165, 171);
  --firstTealLight: rgb(176, 234, 228);
  --secTealLight: rgb(153, 231, 225);
  --firstYellowLight: rgb(250, 244, 90);
  --secYellowLight: rgb(251, 193, 3);
  --thirdYellowLight: rgb(251, 168, 3);
  --light: rgb(252, 251, 244);
  --lesslight: rgb(223, 235, 238);
  --dark: rgb(45, 47, 48);
  --fadeTime: 3s;
}

html body {
  background-color: var(--light);
  color: var(--dark);
  margin: .5rem;
}

ul li {
  color: var(--dark);
}


.bakpakPic {
  width: 380px;
  height: 380px;
  margin-top: 1em;
  margin-bottom: 3em;
  border-radius: 10px;
  /* border: black 1px solid; */
}

.header {
  /* margin-top: 1em; */
  margin-bottom: .5em;
  font-size: 50px;
  font-weight: bold;
  -webkit-animation: fadein var(--fadeTime);
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein var(--fadeTime);
  /* Firefox < 16 */
  -ms-animation: fadein var(--fadeTime);
  /* Internet Explorer */
  -o-animation: fadein var(--fadeTime);
  /* Opera < 12.1 */
  animation: fadein var(--fadeTime);
  text-align: center;
  background-color: var(--light);
}

.header>.japan {
  font-size: 18px;
}

.footer {
  margin-top: 7rem;
  color: var(--dark);
  text-align: center;
}

.manga {
  /* padding: 1em; */
  /* background-color: var(--dark); */
}

.calc-box {
  display: flex;
  justify-content: center;
}

.calc-body {
  background-color: var(--secGrayLight);
  width: 300px;
  height: 475px;
  padding: 1em;
  padding-top: 1.5em;
  border-radius: 12px;
  border: 1px solid var(--dark);
}

.input-display {
  background-color: var(--light);
  color: var(--dark);
  min-width: 30px;
  min-height: 85px;
  max-height: 85px;
  padding: 2px;
  margin-bottom: .75em;
  border-radius: 12px;
  text-align: center;
  font-size: .5rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border: 1px solid var(--dark);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: .5em;
}

.tools {
  min-height: 300px;
  width: auto;
  padding: .5rem;
  border: 1px solid var(--dark);
  text-align: center;
  margin: .5rem;
  background-color: var(--light);
  text-decoration: none;
  color: var(--dark);
}

/* .tools {
  min-width: 100px;
  max-width: 275px;
  min-height: auto;
  max-height: auto;
  border-radius: 12px;
  margin: 8px;
  /* justify-content: center; */
  /* transition: .5s; */
/* } */ 

.flex-container>div {
  background-color: var(--fourthGrayLight);
  width: 55px;
  height: 55px;
  margin: 3px;
  padding: 4.5px;
  text-align: center;
  font-size: 25px;
  line-height: 45px;
  border-radius: 50%;
  border: 1px solid var(--dark);
}

.flex-container>.math {
  background-color: var(--secBlueLight);
}
.flex-container>.clear {
  background-color: var(--secGreenLight);
}

.flex-container>.equals {
  width: 114px;
  height: 52px;
  line-height: 40px;
  font-size: 35px;
  margin: 5px;
  margin-top: 8px;
  padding: 4px;
  border-radius: 12px;
  background-color: var(--thirdBlueLight);
}


.diction-nav {
  color: var(--dark);
}

.viewSaved {
  font-size: 20px;
}

.savedWrds {
  font-weight: bold;
}


.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.title {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);
}

#search {
  margin-right: 5px;
  max-width: 400px;
  height: 50px;
  padding: .5em;
  font-size: 20px;
  border: 1px var(--dark) solid;
  border-radius: 10px;
  text-align: center;
    box-shadow: -6px 4px  var(--dark);
}

.submit {
  border: 1px var(--dark) solid;
  border-radius: 10px;
  text-align: center;
  background-color: var(--lesslight);
  box-shadow: -3px 4px var(--dark);
}

.definitions {
  margin-bottom: 1em;
  margin: 2rem;
}


input[type="text"],
textarea {
  background-color: var(--light);
}

.savebtn {
  padding: .2rem;
  width: 100px;
  background-color: var(--firstGreenLight);
  text-align: center;
  border-radius: 8px;
  float: right;
  margin-right: 2rem;
  box-shadow: -3px 4px var(--dark);
}

.dictionary-container {
  /* max-width: 600px;
flex-wrap: wrap; */
}


.error-text {
  color: var(--dark);
  /* background-color: var(--secBlueLight); */
  margin: .2em;
  margin-bottom: 1em;
  margin-top: 1rem;
  border-radius: 10px;
  text-align: center;
  -webkit-animation: fadein var(--fadeTime);
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein var(--fadeTime);
    /* Firefox < 16 */
    -ms-animation: fadein var(--fadeTime);
    /* Internet Explorer */
    -o-animation: fadein var(--fadeTime);
    /* Opera < 12.1 */
    animation: fadein var(--fadeTime);
}

.bakpakPic:hover {
  box-shadow: 6px 7px 12px var(--shadowLight);
}

.diction-nav:hover{
  font-weight: 450;
}

#search:focus {
  outline: none;
}


.footer:hover {
  font-weight: 450;
}

.header:hover {
  color: red;
}

h4:hover,
h5:hover {
  cursor: pointer;
  color: var(--lesslight);
}


.tools:hover {
  box-shadow: 2px 4px 5px var(--dark);
}

.flex-container>div:hover {
  background-color: var(--lesslight);
}

.flex-container>.clear:hover {
  background-color: var(--firstGreenLight);
}

.flex-container>.math:hover {
  background-color: var(--firstBlueLight);
}

.flex-container>.equals:hover {
  background-color: var(--firstTealLight);
  ;
}

.savebtn:hover {
  background-color: var(--secGreenLight);
}

.savedWrds:hover {
  cursor: pointer;
  color: var(--fifthGrayLight);
}

.submit:hover {
  background-color: var(--mainBlueLight);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}