:root {
  --mainBlueDark: rgb(29, 73, 90);
  --mainBlueLight: rgb(119, 149, 163);
  --shadowLight: rgb(107, 135, 147);
  --firstGrayLight: rgb(134, 142, 146);
  --secGrayLight: rgb(134, 142, 146);
  --thirdGrayLight: rgb(103, 107, 111);
  --fourthGrayLight: rgb(102, 112, 117);
  --fifthGrayLight: rgb(94, 97, 101);
  --firstGreenLight: rgb(101, 143, 110);
  --secGreenLight: rgb(67, 124, 79);
  --firstPinkLight: rgb(247, 207, 230);
  --secPinkLight: rgb(254, 171, 218);
  --firstBlueLight: rgb(160, 211, 251);
  --secBlueLight: rgb(145, 192, 228);
  --thirdBlueLight: rgb(126, 165, 171);
  --fourthBlueLight: rgb(126, 165, 171);
  --firstTealLight: rgb(107, 148, 144);
  --firstYellowLight: rgb(250, 244, 90);
  --secYellowLight: rgb(251, 193, 3);
  --thirdYellowLight: rgb(251, 168, 3);
  --secondBlue: rgb(33, 74, 139);
  --thirdBlue: rgb(46, 68, 103);
  --light: rgb(244, 250, 252);
  --lesslight: rgb(223, 235, 238);
  --mainDark: rgb(35, 39, 42);
  --lessDark: rgba(70, 81, 91, 0.71);
  --mainRed: rgb(209, 80, 80);
  --secondRed: rgb(139, 57, 57);
}

html body {
  background-color: var(--mainBlueLight);
  color: var(--light);
  display: flex;
  justify-content: center;
  margin: 4rem;
}

h1 {
  margin-top: 1em;
  margin-bottom: .75em;
  font-size: 50px;
}

h3 {
  margin-top: 2em;
  margin-left: 5px;
  font-size: smaller;
  /* color: rgb(158, 184, 212); */
}

a {
  color: var(--light);
  text-decoration: none;
}

span {
  text-align: right;
  font-size: 12px;
  float: right;
  margin-top: 1.5em;
  padding-right: 6px;
}

.backpack {
  background-color: var(--firstPinkLight);
  width: 325px;
  height: 385px;
  padding: 1em;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-top: -7em;
  justify-content: center;
}

.backpack>div {
  background-color: var(--secPinkLight);
  color: var(--light);
  line-height: 80px;
  font-size: 40px;
  width: 300px;
  height: 190px;
  margin-top: 190px;
  border-radius: 12px 12px 0px 0px;
}

.top-pack {
  border: 2em solid var(--firstBlueLight);
  width: 75px;
  height: 65px;
  padding: 1em;
  border-radius: 50%;
  margin-left: 6em;
  display: flex;
}

.box-outer {
  background-color: var(--secGrayLight);
  width: 300px;
  height: 475px;
  padding: 1em;
  padding-top: 1.5em;
  border-radius: 12px;
}

.input-display {
  background-color: var(--light);
  color: var(--thirdGrayLight);
  min-width: 50px;
  min-height: 85px;
  max-height: 85px;
  padding: 2px;
  margin-bottom: .75em;
  border-radius: 12px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: .56em;
}

.tools {
  min-width: 100px;
  max-width: 275px;
  min-height: auto;
  max-height: auto;
  border-radius: 12px;
  margin: 8px;
  justify-content: center;
  transition: .5s;
}

.flex-container>div {
  background-color: var(--fourthGrayLight);
  width: 55px;
  height: 55px;
  margin: 3px;
  padding: 4.5px;
  text-align: center;
  font-size: 25px;
  line-height: 55px;
  border-radius: 50%;
}

.flex-container>.equals {
  width: 122px;
  height: 52px;
  line-height: 45px;
  font-size: 35px;
  margin: 5px;
  margin-top: 8px;
  padding: 4px;
  border-radius: 12px;
  background-color: var(--thirdBlueLight);
}

a:hover {
  color: var(--lesslight);
}

.backpack:hover {
  background-color: var(--firstYellowLight);
}

.backpack>div:hover {
  background-color: var(--secYellowLight);
}

.top-pack:hover {
  border: 2em solid var(--secBlueLight);
}

.tools:hover {
  box-shadow: 6px 7px 12px var(--shadowLight);
}

.flex-container>div:hover {
  background-color: var(--fifthGrayLight);
}



.flex-container>.equals:hover {
  background-color: var(--firstTealLight);
  ;
}